@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this playful application!</h1>
    <p>This is a practice tool that is being built for both learning and also as something to practice working on.</p>
</div>
<div>
    <p>
        <h2>            Computer Vision        </h2>
        This is a tutorial workload that is being worked on for a component to my Masters. It uses components from Roboflow with allowing for access to a dataset and API connection.<br />

        <h2>
            Further updates coming
        </h2>
        Camera upload option for pointing camera and getting live information<br />
        Live translation of information within the applications screen view<br />
        Content will be lightweight<br />
        Scalability of the tool to point at different datasources and allow for more complex classifications<br />
        Translation services could also be included based on translation principles<br />
    </p>
</div>
@*<head>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>*@

<body>
    <form id="inputForm">
        <div class="header">
            <div class="row row-cols-3 row-cols-md-3 g-3 align-content-center">
                @*<img class="header__logo" src="https://uploads-ssl.webflow.com/5f6bc60e665f54545a1e52a5/6143750f1177056d60fc52d9_roboflow_logomark_inference.png" alt="Roboflow Inference">*@
                <div>
                    <label class="header-label" for="model">Model</label>
                    <input class="input" type="text" id="model" />
                </div>
                <div>
                    <label class="header-label" for="version">Version</label>
                    <input class="input" type="number" id="version" />
                </div>
                <div>
                    <label class="header-label" for="api_key">API Key</label>
                    <input class="input" type="text" id="api_key" />
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-grid">
                <div class="col-12-s6-m4" id="method">
                    <label class="input-label">Upload Method</label>
                    <div>
                        <button data-value="upload" id="computerButton" class="bttn left fill active">Upload</button>
                        <button data-value="url" id="urlButton" class="bttn right fill">URL</button>
                    </div>
                </div>

                <div class="col-12-m8" id="fileSelectionContainer">
                    <label class="input-label" for="file">Select File</label>
                    <div class="flex">
                        <input class="input input-left flex-1" type="text" id="fileName" disabled />
                        <button id="fileMock" class="bttn right active">Browse</button>
                    </div>
                    <input style="display: none;" type="file" id="file" />
                </div>

                <div class="col-12-m8" id="urlContainer">
                    <label class="input-label" for="file">Enter Image URL</label>
                    <div class="flex">
                        <input type="text" id="url" placeholder="https://path.to/your.jpg" class="input" /><br>
                    </div>
                </div>
                @*<div class="col-6-m3" id="format">
                <label class="input__label">Inference Result</label>
                <div>
                <button id="jsonButton" data-value="json" class="bttn right fill active">JSON</button>
                </div>
                </div>*@
                <div class="col-12">
                    <button type="submit" value="Run Inference" class="bttn-primary">Run Inference</button>
                </div>
            </div>
            <div class="result" id="resultContainer">
                <div class="divider"></div>
                <div class="result-header">
                    <h3 class="headline">Result</h3>
                    <a href="#">Copy Code</a>
                </div>
                <pre id="output" class="codeblock" /> here is your json </pre>
            </div>
        </div>
    </form>
</body>
