@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This tool utilises the systems and models that are built from Roboflows online public datasets.<br />
    It currently uses the "Bush fire" dataset that is publically available to users, it also allows for users to place a URL to an online image to utilise this tool.<br />
    <br />
    With the system it does communicate with the Roboflow company and API in the background when each query is run.<br />
    Please be aware that the communication from the API can be visible to the company itself.
</p>
